RFC 9018 compliance (cookie secret rollover)

**Describe the bug**

RFC 9018 further clarifies the DNS cookie feature introduced with RFC 7873. Unbound is capable of responding to downstream requests with a cookie via the `answer-cookie` and the `cookie-secret` option introduced with https://github.com/NLnetLabs/unbound/pull/762

There are further options like for the `wait-limit` (introduced with 1.20) that make use of Unbound's support of DNS cookies.

However, Unbound does not provide any way to perform a three stage rollover for updating the cookie secret as described in [RFC 9018 Section 5](https://www.rfc-editor.org/rfc/rfc9018#name-updating-the-server-secret).

**Additional information**

NSD provides the option to rotate the cookie secret via `nsd-control` arguments.

See:
- `add_cookie_secret`
- `drop_cookie_secret`
- `activate_cookie_secret`

Having some configuration option like `cookie-secret-staging` that one can use to swap the active/staging secret for the 3 stage rollover might work as well.

On a minor notice, neither RFC 9018 nor 7873 are listed on [Unbound's RFC compliance list](https://unbound.docs.nlnetlabs.nl/en/latest/reference/rfc-compliance.html).

Edit: I just noticed that cookie secret rollover was a `todo` in the PR that introduced its feature. However, after merging the PR about 1 year ago it looks like it was never picked up again. With more features (like `wait-limit`) introducing options that rely on downstream cookies, it might be worthwhile taking a look at the secret rollover aspect of DNS cookie usage.

The change adds the unbound-control commands, and the `cookie-secret-file: "unbound_cookiesecrets.txt"` option. It uses code taken from NSD. The merged code should create the functionality that works similar to how it works for NSD.