MX record on a subdomain, without specific NS records doesn't resolve

**Describe the bug**
If a sub domain MX record is created, unbound cannot resolve it

**To reproduce**
Steps to reproduce the behavior:
1. create a domain (example.com), add NS entries and MX record ( and anything else you want )
2. create a subdomain MX record ( such as mailing.example.com, or mailing.sub.example.com  )
3. query it ( ex : dig MX mail.sub.example.com @<unbound ip>
4. it doesn't resolve

**Expected behavior**
the MX entry should be returned in both case


**System:**
 - Unbound version: 1.19.2
 - OS: ubuntu 24.04 LTS 
 - `unbound -V` output:
unbound -V
Version 1.19.2

Configure line: --build=x86_64-linux-gnu --prefix=/usr --includedir=${prefix}/include --mandir=${prefix}/share/man --infodir=${prefix}/share/info --sysconfdir=/etc --localstatedir=/var --disable-option-checking --disable-silent-rules --libdir=${prefix}/lib/x86_64-linux-gnu --runstatedir=/run --disable-maintainer-mode --disable-dependency-tracking --with-pythonmodule --with-pyunbound --enable-subnet --enable-dnstap --enable-systemd --enable-cachedb --with-libhiredis --with-libnghttp2 --with-chroot-dir= --with-dnstap-socket-path=/run/dnstap.sock --disable-rpath --with-pidfile=/run/unbound.pid --with-libevent --enable-tfo-client --with-rootkey-file=/usr/share/dns/root.key --enable-tfo-server
Linked libs: libevent 2.1.12-stable (it uses epoll), OpenSSL 3.0.13 30 Jan 2024
Linked modules: dns64 python cachedb subnetcache respip validator iterator
TCP Fastopen feature available

**Additional information**
Absent a zone cut, the parent zone’s authoritative servers answer authoritatively for names under the origin, including subdomain owner names that have MX records. RFC 2181 §6.1 clarifies authority and that parent-side NS only indicate a delegation when present; otherwise the parent continues to serve data for the subtree

After some retry, I cannot reproduce this anymore .... 
closing the case and investigating again ... 
if needed a new issue will be re-open 

Tip: Unbound caches negatives replies (like NXDOMAIN). Even more so if the domain is DNSSEC signed and [aggressive-nsec: yes](https://unbound.docs.nlnetlabs.nl/en/latest/manpages/unbound.conf.html#unbound-conf-aggressive-nsec) is used (default). So if Unbound had the information, from a previous query, that  `mailing.sub.example.com` does not exist, then it doesn't have to try and resolve as long as that negative reply is in cache.

If you believe there is an issue and it is reproducible you can also re-open this issue; I believe GitHub gives you that possibility.

the issue was in fact due to a RFC not compliant config on a domain, I will try to get it resolved by the domain owner the config causing this issue :
1) domain 
2) create a CNAME mailing.example.com -> ourmailinglist.example.com
3) create a MX mailing.example.com  -> mail.example.com

unbound cannot resolve the MX on  mainling.example.com but this config is not RFC compliant ans is not supposed to be 'accepted' on the DNS registrar side, but on this case it is accepted, so unbound cannot resolve it and no email could be send to that domain.

is there a way to still get unbound resolve it (even if this is not RFC compliant or should it be behave it like that ... (RFC enforcement VS open compatibilities ... )
 
I could understand that this case is rejected/closed as this is not RFC compliant


the RFC in questions : 
[3.6.2](https://www.rfc-editor.org/rfc/rfc1034.html#section-3.6.2). Aliases and canonical names
The domain system provides such a feature using the canonical name
(CNAME) RR.  A CNAME RR identifies its owner name as an alias, and
specifies the corresponding canonical name in the RDATA section of the
RR.  If a CNAME RR is present at a node, no other data should be
present; this ensures that the data for a canonical name and its aliases
cannot be different.  This rule also insures that a cached CNAME can be
used without checking with an authoritative server for other RR types.

[10.1](https://www.rfc-editor.org/rfc/rfc2181.html#section-10.1). CNAME resource records
There may be only one   such canonical name for any one alias.  That name should generally be
   a name that exists elsewhere in the DNS, though there are some rare
   applications for aliases with the accompanying canonical name
   undefined in the DNS.  An alias name (label of a CNAME record) may,
   if DNSSEC is in use, have SIG, NXT, and KEY RRs, but may have no
   other data. 

You can't have any records next to a CNAME.
When the resolver knows that a CNAME is there, it will direct all other queries to the target of the CNAME.
All the records next to the CNAME are going to be ignored.

In your example, when asking Unbound for `MX mailing.example.com` and if Unbound already knows that `CNAME mailing.example.com` is there, it will try to resolve `MX ourmailinglist.example.com`.
If it doesn't know about the CNAME yet, it will try to resolve `MX mailing.example.com`.

It can get even more complicated when qname-minimisation is used (by default) because that implicitly issues A queries for possible delegation points which will reveal the CNAME at that point. So you are guaranteed to ignore any records next to a CNAME.

Closing this because the solution here is to not have other record types next to the CNAME (except for the necessary DNSSEC records of course).