Unencrypted DNS over HTTPS not working

I am trying and failing to get Unbound 1.13.0 working as an unencrypted DNS over HTTPS server, receiving queries forwarded from Apache.

Apache config:

`ProxyPass "/dns-query" "http://[::1]:8063/dns-query"`

Unbound config:

```
interface: ::1@8063
https-port: 8063
http-notls-downstream: yes
```

Unbound logs:
```
Dec 26 16:38:06 vm1 unbound: [65968:0] debug: comm point start listening 8 (30000 msec)
Dec 26 16:38:06 vm1 unbound: [65968:0] debug: startlistening 8 mode r
Dec 26 16:38:06 vm1 unbound: [65968:0] debug: http2: session_recv from ::1 failed, error: Received bad client magic byte string
Dec 26 16:38:06 vm1 unbound: [65968:0] debug: comm_point_close of 8: event_del
Dec 26 16:38:06 vm1 unbound: [65968:0] debug: close fd 8
```

Is there anything I'm missing?

In unbound I tested this with the 'dohclient' test program, in the source `make dohclient` and this works fine, eg, just turn off https and no other options needed, with the notls-downstream turned on like you have.

The error printed comes out of the nghttp2 reader, and it reports the bad client magic byte string.  Perhaps apache is still trying to connect with tls and this upsets the nghttp2 reader in not getting a valid http2 read?

I'm not exactly sure how ProxyPass works, but I assume using "http" would ensure ssl is not being used.

I have also tried a reverse DoH proxy called dnss which works fine when receiving unencrypted queries from Apache with an identical Apache configuration.

This leads me to believe this is an issue with Unbound.

I think it is because the proxy makes a http 1.1 request, and this is not supported.  The nghttp2 library wants http2.  But apache can make http2 proxy requests, see https://httpd.apache.org/docs/trunk/mod/mod_proxy_http2.html

With `mod_proxy_http2` use something like `ProxyPass "/app" "h2c://app.example.com"` with the h2c meaning http2 cleartext.  With `h2://` it would be using TLS.

So for your case I think that means change to `ProxyPass "/dns-query" "h2c://[::1]:8063/dns-query"`

Many thanks, you solved it. Enabling the proxy_http2 module in Apache and using "h2c" in the url protocol works fine.

I would appear dnss was happy to use http 1.1 for the query.

Okay, good to hear!  The spec for dns over https requires http2 to be used, this is written in RFC 8484 section 5.2 https://datatracker.ietf.org/doc/rfc8484/ and that is why Unbound was coded with nghttp2 for http2 support for DoH requests.