Frequent error: SERVFAIL exceeded the maximum number of sends

<!--
Thanks for taking the time to report an issue!

Before continuing please make sure that you checked the existing (opened and closed) issues and pull requests to avoid opening a duplicate issue. We would rather prefer to add the information to the existing one. If you are able, feel free to reopen the closed issue afterwards. If not, please create a new issue linking to the old one.

If you rather have a support question and you need guidance on running/configuring Unbound, please refrain from opening an issue and use the community support mailing list instead (https://www.nlnetlabs.nl/support/mailing-lists/).
We would like to keep GitHub issues for possible bugs and feature requests only.

If you are unsure whether an issue is a bug or not, feel free to reach out to mailing list users or open an issue here.

If you are opening an issue, please complete as much of the following sections as possible to give us a better understanding of your situation.
-->

**Describe the bug**
Hi so at first I am not expert in networking but I am trying to learn new things.
My problem is when I am running pihole with unbound in one docker container from origamiofficial (link below)
I am getting SERVFAIL exceeded the maximum number of sends for almost every web.
Mostly it just need one page reload and it works but there are also pages when it takes several minutes of refreshing.
When I switch from unbound to other DNS resolver everything is working absolutely fine.
![Image](https://github.com/user-attachments/assets/97017a29-4cec-4a5b-a7f5-f461d5d15338)

I tried several things looking for closed/open issues like checking the time and date, playing with DNSSEC and some unbound setting but nothing solved the problem.

Currently I have redeployed the container with clean config and changed the DNS resolver to OpenDNS to have working network.

Anyone have idea what I can check why unbound is behaving like this?

**To reproduce**
Steps to reproduce the behavior:
Run pihole unbound docker image from https://github.com/origamiofficial/docker-pihole-unbound

**Expected behavior**
Resolving without any errors

**System:**
 - Unbound version: 1.22
 - OS: Docker running in Proxmox LXC based on debian 12


The "maximum number of sends" is a safe guard to stop resolution when Unbound needs to send an excessive amount of packets (default more than 32) to resolve at a specific delegation.
This can also be triggered by network errors/timeouts where Unbound needs to send the same query out because of timeouts for example.

Timeouts can also trigger the [`caps-for-id`](https://unbound.docs.nlnetlabs.nl/en/latest/manpages/unbound.conf.html#unbound-conf-use-caps-for-id) _fallback_ which sends more queries than necessary out in an attempt to guard against cache poisoning. Do you have `use-caps-for-id: yes` in your configuration? Try with the option off to see if that was the culprit.

Sharing your configuration could also help if I can spot something.

Thanks for response I will post update once I get home today.

Sorry there was no time yesterday I got back home late at night. Below is my current configuration which is also default configuration for the whole origamiofficials build and `use-caps-for-id` is off by default. I did no changes there:
```
server:
    ###########################################################################
    # BASIC SETTINGS
    ###########################################################################
    # Time to live maximum for RRsets and messages in the cache. If the maximum
    # kicks in, responses to clients still get decrementing TTLs based on the
    # original (larger) values. When the internal TTL expires, the cache item
    # has expired. Can be set lower to force the resolver to query for data
    # often, and not trust (very large) TTL values.
    cache-max-ttl: 86400

    # Time to live minimum for RRsets and messages in the cache. If the minimum
    # kicks in, the data is cached for longer than the domain owner intended,
    # and thus less queries are made to look up the data. Zero makes sure the
    # data in the cache is as the domain owner intended, higher values,
    # especially more than an hour or so, can lead to trouble as the data in
    # the cache does not match up with the actual data any more.
    cache-min-ttl: 300

    # Set the working directory for the program.
    directory: "/opt/unbound/etc/unbound"

    # If enabled, Unbound will respond with Extended DNS Error codes (RFC 8914).
    # These EDEs attach informative error messages to a response for various
    # errors.
    # When the val-log-level: option is also set to 2, responses with Extended
    # DNS Errors concerning DNSSEC failures that are not served from cache, will
    # also contain a descriptive text message about the reason for the failure.
    ede: yes

    # If enabled, Unbound will attach an Extended DNS Error (RFC 8914)
    # Code 3 - Stale Answer as EDNS0 option to the expired response.
    # This will not attach the EDE code without setting ede: yes as well.
    ede-serve-expired: yes

    # RFC 6891. Number  of bytes size to advertise as the EDNS reassembly buffer
    # size. This is the value put into  datagrams over UDP towards peers.
    # The actual buffer size is determined by msg-buffer-size (both for TCP and
    # UDP). Do not set higher than that value.
    # Default  is  1232 which is the DNS Flag Day 2020 recommendation.
    # Setting to 512 bypasses even the most stringent path MTU problems, but
    # is seen as extreme, since the amount of TCP fallback generated is
    # excessive (probably also for this resolver, consider tuning the outgoing
    # tcp number).
    edns-buffer-size: 1232

    # Listen to for queries from clients and answer from this network interface
    # and port.
    interface: 0.0.0.0@5335

    # Rotates RRSet order in response (the pseudo-random number is taken from
    # the query ID, for speed and thread safety).
    rrset-roundrobin: yes

    # Drop user  privileges after  binding the port.
    username: "_unbound"

    ###########################################################################
    # LOGGING
    ###########################################################################

    # Do not print log lines to inform about local zone actions
    log-local-actions: no

    # Do not print one line per query to the log
    log-queries: no

    # Do not print one line per reply to the log
    log-replies: no

    # Print log lines that say why queries return SERVFAIL to clients
    log-servfail: yes

    # If you want to log to a file, use:
    logfile: /opt/unbound/etc/unbound/unbound.log
    # Set log location (using /dev/null further limits logging)
    # logfile: /dev/null

    # Set logging level
    # Level 0: No verbosity, only errors.
    # Level 1: Gives operational information.
    # Level 2: Gives detailed operational information including short information per query.
    # Level 3: Gives query level information, output per query.
    # Level 4:  Gives algorithm level information.
    # Level 5: Logs client identification for cache misses.
    verbosity: 1

    ###########################################################################
    # PRIVACY SETTINGS
    ###########################################################################

    # RFC 8198. Use the DNSSEC NSEC chain to synthesize NXDO-MAIN and other
    # denials, using information from previous NXDO-MAINs answers. In other
    # words, use cached NSEC records to generate negative answers within a
    # range and positive answers from wildcards. This increases performance,
    # decreases latency and resource utilization on both authoritative and
    # recursive servers, and increases privacy. Also, it may help increase
    # resilience to certain DoS attacks in some circumstances.
    aggressive-nsec: yes

    # Extra delay for timeouted UDP ports before they are closed, in msec.
    # This prevents very delayed answer packets from the upstream (recursive)
    # servers from bouncing against closed ports and setting off all sort of
    # close-port counters, with eg. 1500 msec. When timeouts happen you need
    # extra sockets, it checks the ID and remote IP of packets, and unwanted
    # packets are added to the unwanted packet counter.
    delay-close: 10000

    # Prevent the unbound server from forking into the background as a daemon
    do-daemonize: no

    # Add localhost to the do-not-query-address list.
    do-not-query-localhost: no

    # Number  of  bytes size of the aggressive negative cache.
    neg-cache-size: 4M

    # Send minimum amount of information to upstream servers to enhance
    # privacy (best privacy).
    qname-minimisation: yes

    ###########################################################################
    # SECURITY SETTINGS
    ###########################################################################
    # Only give access to recursion clients from LAN IPs
    access-control: 127.0.0.1/32 allow
    access-control: 192.168.0.0/16 allow
    access-control: 172.16.0.0/12 allow
    access-control: 10.0.0.0/8 allow
    # access-control: fc00::/7 allow
    # access-control: ::1/128 allow

    # File with trust anchor for  one  zone, which is tracked with RFC5011
    # probes.
    auto-trust-anchor-file: "var/root.key"

	# Use this only when you downloaded the list of primary root servers!
    # If you use the default dns-root-data package, unbound will find it automatically
    root-hints: "/opt/unbound/etc/unbound/var/root.hints"

    # Enable chroot (i.e, change apparent root directory for the current
    # running process and its children)
    chroot: "/opt/unbound/etc/unbound"

    # Deny queries of type ANY with an empty response.
    deny-any: yes

    # Harden against algorithm downgrade when multiple algorithms are
    # advertised in the DS record.
    harden-algo-downgrade: yes

    # Harden against unknown records in the authority section and additional
    # section. If no, such records are copied from the upstream and presented
    # to the client together with the answer. If yes, it could hamper future
    # protocol developments that want to add records.
    harden-unknown-additional: yes

    # RFC 8020. returns nxdomain to queries for a name below another name that
    # is already known to be nxdomain.
    harden-below-nxdomain: yes

    # Require DNSSEC data for trust-anchored zones, if such data is absent, the
    # zone becomes bogus. If turned off you run the risk of a downgrade attack
    # that disables security for a zone.
    harden-dnssec-stripped: yes

    # Only trust glue if it is within the servers authority.
    harden-glue: yes

    # Ignore very large queries.
    harden-large-queries: yes

    # Perform additional queries for infrastructure data to harden the referral
    # path. Validates the replies if trust anchors are configured and the zones
    # are signed. This enforces DNSSEC validation on nameserver NS sets and the
    # nameserver addresses that are encountered on the referral path to the
    # answer. Experimental option.
    harden-referral-path: no

    # Ignore very small EDNS buffer sizes from queries.
    harden-short-bufsize: yes

    # If enabled the HTTP header User-Agent is not set. Use with caution
    # as some webserver configurations may reject HTTP requests lacking
    # this header. If needed, it is better to explicitly set the
    # the http-user-agent.
    hide-http-user-agent: no

    # Refuse id.server and hostname.bind queries
    hide-identity: yes

    # Refuse version.server and version.bind queries
    hide-version: yes

    # Set the HTTP User-Agent header for outgoing HTTP requests. If
    # set to "", the default, then the package name and version are
    # used.
    http-user-agent: "DNS"

    # Report this identity rather than the hostname of the server.
    identity: "DNS"

    # These private network addresses are not allowed to be returned for public
    # internet names. Any  occurrence of such addresses are removed from DNS
    # answers. Additionally, the DNSSEC validator may mark the  answers  bogus.
    # This  protects  against DNS  Rebinding
    private-address: 10.0.0.0/8
    private-address: 172.16.0.0/12
    private-address: 192.168.0.0/16
    private-address: 169.254.0.0/16
    # private-address: fd00::/8
    # private-address: fe80::/10
    # private-address: ::ffff:0:0/96
    # Allowed private domains
    private-domain: "plex.direct"

    # Enable ratelimiting of queries (per second) sent to nameserver for
    # performing recursion. More queries are turned away with an error
    # (servfail). This stops recursive floods (e.g., random query names), but
    # not spoofed reflection floods. Cached responses are not rate limited by
    # this setting. Experimental option.
    ratelimit: 1000

    # Use this certificate bundle for authenticating connections made to
    # outside peers (e.g., auth-zone urls, DNS over TLS connections).
    tls-cert-bundle: /etc/ssl/certs/ca-certificates.crt

    # Set the total number of unwanted replies to eep track of in every thread.
    # When it reaches the threshold, a defensive action of clearing the rrset
    # and message caches is taken, hopefully flushing away any poison.
    # Unbound suggests a value of 10 million.
    unwanted-reply-threshold: 10000

    # Use 0x20-encoded random bits in the query to foil spoof attempts. This
    # perturbs the lowercase and uppercase of query names sent to authority
    # servers and checks if the reply still has the correct casing.
    # This feature is an experimental implementation of draft dns-0x20.
    # Experimental option.
    use-caps-for-id: no

    # Help protect users that rely on this validator for authentication from
    # potentially bad data in the additional section. Instruct the validator to
    # remove data from the additional section of secure messages that are not
    # signed properly. Messages that are insecure, bogus, indeterminate or
    # unchecked are not affected.
    val-clean-additional: yes

    ###########################################################################
    # PERFORMANCE SETTINGS
    ###########################################################################
    # https://nlnetlabs.nl/documentation/unbound/howto-optimise/
    # https://nlnetlabs.nl/news/2019/Feb/05/unbound-1.9.0-released/

    # Number of slabs in the infrastructure cache. Slabs reduce lock contention
    # by threads. Must be set to a power of 2.
    infra-cache-slabs: 4

    # Number of incoming TCP buffers to allocate per thread. Default
    # is 10. If set to 0, or if do-tcp is "no", no  TCP  queries  from
    # clients  are  accepted. For larger installations increasing this
    # value is a good idea.
    incoming-num-tcp: 10

    # Number of slabs in the key cache. Slabs reduce lock contention by
    # threads. Must be set to a power of 2. Setting (close) to the number
    # of cpus is a reasonable guess.
    key-cache-slabs: 4

    # Number  of  bytes  size  of  the  message  cache.
    # Unbound recommendation is to Use roughly twice as much rrset cache memory
    # as you use msg cache memory.
    msg-cache-size: 8801796778

    # Number of slabs in the message cache. Slabs reduce lock contention by
    # threads. Must be set to a power of 2. Setting (close) to the number of
    # cpus is a reasonable guess.
    msg-cache-slabs: 4

    # The number of queries that every thread will service simultaneously. If
    # more queries arrive that need servicing, and no queries can be jostled
    # out (see jostle-timeout), then the queries are dropped.
    # This is best set at half the number of the outgoing-range.
    # This Unbound instance was compiled with libevent so it can efficiently
    # use more than 1024 file descriptors.
    num-queries-per-thread: 4096

    # The number of threads to create to serve clients.
    # This is set dynamically at run time to effectively use available CPUs
    # resources
    num-threads: 3

    # Number of ports to open. This number of file descriptors can be opened
    # per thread.
    # This Unbound instance was compiled with libevent so it can efficiently
    # use more than 1024 file descriptors.
    outgoing-range: 8192

    # Number of bytes size of the RRset cache.
    # Use roughly twice as much rrset cache memory as msg cache memory
    rrset-cache-size: 17603593557

    # Number of slabs in the RRset cache. Slabs reduce lock contention by
    # threads. Must be set to a power of 2.
    rrset-cache-slabs: 4

    # Do no insert authority/additional sections into response messages when
    # those sections are not required. This reduces response size
    # significantly, and may avoid TCP fallback for some responses. This may
    # cause a slight speedup.
    minimal-responses: yes

    # # Fetch the DNSKEYs earlier in the validation process, when a DS record
    # is encountered. This lowers the latency of requests at the expense of
    # little more CPU usage.
    prefetch: yes

    # Fetch the DNSKEYs earlier in the validation process, when a DS record is
    # encountered. This lowers the latency of requests at the expense of little
    # more CPU usage.
    prefetch-key: yes

    # Have unbound attempt to serve old responses from cache with a TTL of 0 in
    # the response without waiting for the actual resolution to finish. The
    # actual resolution answer ends up in the cache later on.
    serve-expired: yes

    # UDP queries that have waited in the socket buffer for a long time can be
    # dropped. The time is set in seconds, 3 could be a good value to ignore old
    # queries that likely the client does not need a reply for any more. This 
    # could happen if the host has not been able to service the queries for a 
    # while, i.e. Unbound is not running, and then is enabled again. It uses 
    # timestamp socket options.
    sock-queue-timeout: 3

    # Open dedicated listening sockets for incoming queries for each thread and
    # try to set the SO_REUSEPORT socket option on each socket. May distribute
    # incoming queries to threads more evenly.
    so-reuseport: yes

    ###########################################################################
    # LOCAL ZONE
    ###########################################################################

    # Include file for local-data and local-data-ptr
    include: /opt/unbound/etc/unbound/a-records.conf
    include: /opt/unbound/etc/unbound/srv-records.conf

    ###########################################################################
    # FORWARD ZONE
    ###########################################################################

    #include: /opt/unbound/etc/unbound/forward-records.conf


remote-control:
    control-enable: no

```

I have also opened issue on origamiofficial where I have described more detailed all I tried origamiofficial/docker-pihole-unbound#34

From a quick look I would use `harden-algo-downgrade: no`.
That option is there in Unbound from when initial DNSSEC standard development was still ongoing.
We have updated the description recently (https://github.com/NLnetLabs/unbound/commit/fe288a9b068ab140d643b766c1e1930275d9264f) because we realized there was some confusion about the option from our users.
Actually I wouldn't touch any of the `harden-*` options in Unbound. What can be enabled by default is already enabled and the rest, like `harden-algo-downgrade` or `harden-unknown-additional`, are purposely turned off because they mess with standard DNS resolution and are options for people that have specific needs from Unbound in their environment.

Back to the matter at hand, `harden-algo-downgrade` works by generating way more queries than necessary to provide the algo downgrade hardening. You can see if by turning this off has an impact on the errors you are seeing. If not I can't spot something else at this moment and I would need to see some logs with `verbosity: 3` at least.

So first I have tried to set `harden-algo-downgrade: no` which didn't help and second also `harden-unknown-additional: no` also didn't help. With both off I have collected lvl 4 logs. Approx first 10 pages are fine then it's breaking. In log you can look for neflix.com or disneyplus.com these were among the first not resolved.

Logfile can be accessed on my google drive [unbound.log](https://drive.google.com/file/d/1lKLsvbgtQYN9E6mMh2dgxRgFbeBrhes1/view?usp=sharing)

Hey there.. random person here.. 

do-ipv6: is this yes or no? 

```
 delv www.netflix.com -p 5353 @192.168.88.200
;; resolution failed: failure
```

(5353 was my unbound testing) 

changed it to do-ipv6: no

reload..

```
 delv www.netflix.com -p 5353 @192.168.88.200
; unsigned answer
www.netflix.com.        52      IN      CNAME   www.dradis.netflix.com.
www.dradis.netflix.com. 52      IN      CNAME   www.us-east-2.internal.dradis.netflix.com.
www.us-east-2.internal.dradis.netflix.com. 52 IN CNAME apiproxy-website-nlb-prod-3-e3c82d64e19c1cb2.elb.us-east-2.amazonaws.com.
apiproxy-website-nlb-prod-3-e3c82d64e19c1cb2.elb.us-east-2.amazonaws.com. 53 IN A 3.18.92.247
apiproxy-website-nlb-prod-3-e3c82d64e19c1cb2.elb.us-east-2.amazonaws.com. 53 IN A 3.129.173.176
apiproxy-website-nlb-prod-3-e3c82d64e19c1cb2.elb.us-east-2.amazonaws.com. 53 IN A 18.217.83.66
```

I'm ipv4 but wanted ip6 for ::1 on the server interface

```
Feb 03 19:43:09 unbound[14248:2] debug: request a12-131.akagtm.org. has exceeded the maximum global quota on number of upstream queries 146
Feb 03 19:43:09 unbound[14248:2] debug: request a6-131.akagtm.org. has exceeded the maximum global quota on number of upstream queries 147
Feb 03 19:43:09 unbound[14248:2] debug: request a12-131.akagtm.org. has exceeded the maximum global quota on number of upstream queries 148
Feb 03 19:43:09 unbound[14248:2] debug: request a2-130.akagtm.org. has exceeded the maximum global quota on number of upstream queries 149
Feb 03 19:43:28 unbound[14248:1] debug: request has exceeded the maximum number of sends with 33
Feb 03 19:43:40 unbound[14248:0] debug: request has exceeded the maximum number of sends with 33
Feb 03 19:43:40 unbound[14248:2] debug: request has exceeded the maximum number of sends with 33
Feb 03 19:43:40 unbound[14248:1] debug: request has exceeded the maximum number of sends with 33
Feb 03 19:43:57 unbound[14248:2] debug: request ns3.google.com. has exceeded the maximum global quota on number of upstream queries 129
Feb 03 19:43:57 unbound[14248:2] debug: request ns1.google.com. has exceeded the maximum global quota on number of upstream queries 130
Feb 03 19:43:57 unbound[14248:2] debug: request ns2.google.com. has exceeded the maximum global quota on number of upstream queries 131
Feb 03 19:43:57 unbound[14248:2] debug: request ns2.google.com. has exceeded the maximum global quota on number of upstream queries 132
Feb 03 19:43:57 unbound[14248:2] debug: request ns3.google.com. has exceeded the maximum global quota on number of upstream queries 133
Feb 03 19:43:57 unbound[14248:2] debug: request ns1.google.com. has exceeded the maximum global quota on number of upstream queries 134
Feb 03 19:43:57 unbound[14248:2] debug: request ns4.google.com. has exceeded the maximum global quota on number of upstream queries 135
Feb 03 19:43:57 unbound[14248:2] debug: request ns4.google.com. has exceeded the maximum global quota on number of upstream queries 136
Feb 03 19:43:57 unbound[14248:2] debug: request ns3.google.com. has exceeded the maximum global quota on number of upstream queries 137
Feb 03 19:43:57 unbound[14248:2] debug: request ns3.google.com. has exceeded the maximum global quota on number of upstream queries 138
```

unbound.conf:

```
server:
  interface: 0.0.0.0
  interface: ::0
  port: 5353
#  interface: tailscale0
#  outgoing-interface: 10.20.30.40
  prefer-ip4: yes
  prefer-ip6: no
  do-ip6: no
  do-tcp: yes
  access-control: ::1 allow
  access-control: fd00::/8 allow
  access-control: fe80::/10 allow
  access-control: 127.0.0.0/8 allow
  access-control: 10.0.0.0/8 allow
  access-control: 192.168.0.0/12 allow
  access-control: 100.64.0.0/10 allow
  logfile: "/tmp/unbound.log"
  use-syslog: no
  log-time-ascii: yes
  log-queries: yes
  log-replies: yes
  hide-identity: yes
  hide-version: yes
  do-not-query-localhost: no
  deny-any: yes
  module-config: "validator iterator"
#  module-config: "respip iterator"
  tls-cert-bundle: "/etc/ssl/cert.pem"
  tls-system-cert: yes
  #chroot: ""
  #username: ""
  #chroot: "/var/unbound"
  #directory: ""
  num-threads: 3
  so-reuseport: yes
  so-rcvbuf: 1m
  so-sndbuf: 1m
  statistics-interval: 0
  extended-statistics: yes
  statistics-cumulative: no

  root-hints: /etc/unbound/named.cache
  harden-dnssec-stripped: yes
  trust-anchor-file: "/etc/unbound/trusted-key.key"
  harden-glue: yes
  harden-algo-downgrade: no
  harden-unknown-additional: no
  use-caps-for-id: no
  ede: yes
  verbosity: 1

remote-control:
        control-enable: yes
        control-interface: /run/unbound.control.sock
```

🤷 

```
udp connect failed: Cannot assign requested address for <ipv6 address>
```
So it seems it is IPv6 related.

As @bcookatpcsd mentioned, you can either turn it completely off with `do-ip6: no` or use `prefer-ip4: yes` to prefer sending queries out via IPv4.

In @bcookatpcsd 's case where he needs ::1 as the listening interface but has no IPv6 connectivity, `do-not-query-address: ::0/0` also works for that.

---

Side note from looking at your logs, it seems you are using the subnetcache module. If you are not actively using it (why would you?), I would suggest to turn it off by using `module-config: "validator iterator"`.

Subnetcache enables ECS support (by default if compiled in) and because it is a compile time option, it seems distributions add it in case someone needs it. In the next release we are going to turn that off because a lot of users are getting the unneeded functionality and the performance/resolution penalty that comes with it (https://github.com/NLnetLabs/unbound/commit/35dbbcb2f5db9026c4a7bd811524d6f7dc29af51).

Thanks for analysis. The IPv6 makes sense as I see it now I could find this myself actually.
I will try to disable it completely I am not using it at all and not planning to.
I will also do further changes in config as you recommend later today and post back the result.

So update. Added/changed below params to my config and it works basically without bigger issues.
Basically I don't see anymore `error: SERVFAIL exceeded the maximum number of sends`.
```
do-ip4: yes
prefer-ip4: yes
do-ip6: no
prefer-ip6: no
do-not-query-address: ::0/0
module-config: "validator iterator"
harden-algo-downgrade: no
harden-unknown-additional: no
```

Last thing I am seeing now sometimes for some webs is:
```
[1738767117] unbound[279:0] error: SERVFAIL <cm1.jhmt.cz. A IN>: all servers for this domain failed, at zone cz. upstream server timeout
[1738767117] unbound[279:0] error: SERVFAIL <www.foodora.cz. HTTPS IN>: all servers for this domain failed, at zone cz. upstream server timeout
```
Page auto-reload then resolves it. I gues this is not an unbound problem anymore?

```
do-ip4: yes
prefer-ip4: yes
do-ip6: no
prefer-ip6: no
do-not-query-address: ::0/0
```
You REALLY don't want to use IPv6 :)
I mean just `do-ip6: no` would suffice, but the other options do not hurt.

This seems like Unbound is not getting any answers from the cz. nameservers. Maybe intermittent network errors?

> You REALLY don't want to use IPv6 :)

In 2025 where I live.. we have no ipv6 yet.. 

OT I am by no means an unbound expert.. I was trying to make an resolver exclusively for Tailscale.. (bound only to the ts address) 

.. but that isn't how ts works

> ```
> do-ip4: yes
> prefer-ip4: yes
> do-ip6: no
> prefer-ip6: no
> do-not-query-address: ::0/0
> ```
> 
> You REALLY don't want to use IPv6 :) I mean just `do-ip6: no` would suffice, but the other options do not hurt.
> 
> This seems like Unbound is not getting any answers from the cz. nameservers. Maybe intermittent network errors?

Yeah I REALLY don't 😄 but I want to know about the options straight for lets say future changes.

May be a network problem or the Synology where I tested the changes first as it's a backup resolver can't handle so much requests at once. It's not a new one it's 7/8 years old. Where on the other hand on Intel NUC (where the pihole-unbound running under Docker in LXC in Proxmox and is my main resolver) have much more resources was able to resolve everything at first attempt after the changes. Hard to guess. I will further monitor for next days but I believe it will be fine 👍 

@bcookatpcsd , if it wasn't clear from one of my earlier answers, you would need IPv6 to bind to `::1` but then you can use `do-not-query-address: ::0/0` to disallow **outgoing** IPv6 traffic.

Hi... so update after almost 2 weeks. I am glad to say the above suggested changes solved the problem. There still remains some SERVFAIL: misc failures in log but I don't think this causes any additional issues (may be related to #1225).

Good to hear!
This issue was about errors when sending packets to upstream servers, so I'll be closing this one.

This has been killing me for months, finally Its working by adding these configurations:

```
prefer-ip4: yes
prefer-ip6: no
do-not-query-address: ::0/0
```
