auth-zone: AXFR fallback when IXFR fail

Hello,
I'm using Unbound (v1.9.6) to serve auth-zone from different master servers software.
When I add a new slave zone in Unbound, the first transfer was done in AXFR mode and it's OK.
After, Unbound want to do only IXFR transfer, but I have some master server don't do IXFR. In this situation, Unbound don't fallback to AXFR and don't accept the AXFR response, the zone was not updated.
If I understand section 4 of RFC 1995 (https://tools.ietf.org/html/rfc1995#section-4), Unbound should accept an AXFR response after its request for IXFR.
Did I misunderstand the problem or misconfigure perhaps ?
Thanks you, regards

Isn't this already resolved by commit 41d3e2027cfa1227906a5a0920ee68ee9ccf734e?

Hello,

I just did the test with Unbound 1.10.1 and it's indeed fixed!

Thanks


----- Mail original -----
> De: "Georgeto" <notifications@github.com>
> À: "NLnetLabs/unbound" <unbound@noreply.github.com>
> Cc: "Arnaud Gavara" <arnaud.gavara@umontpellier.fr>, "Author" <author@noreply.github.com>
> Envoyé: Mercredi 3 Juin 2020 01:02:33
> Objet: Re: [NLnetLabs/unbound] auth-zone: AXFR fallback when IXFR fail (#216)

> Isn't this already resolved by commit 41d3e2027cfa1227906a5a0920ee68ee9ccf734e?
> 
> --
> You are receiving this because you authored the thread.
> Reply to this email directly or view it on GitHub:
> https://github.com/NLnetLabs/unbound/issues/216#issuecomment-637851784

-- 
Université de Montpellier
Direction du Système d'Information et du Numérique
Service des Moyens Informatiques
Bureau réseaux, sécurité et téléphonie IP


> I just did the test with Unbound 1.10.1 and it's indeed fixed!

That was also my observation, when I wrote my previous comment, which I deleted afterwards.
Indeed, unbound now falls back to making an AXFR request, if IXFR fails.
However, I suspect that unbound still does not accept an AXFR response for an IXFR request, but instead makes a separate AXFR request.


[Section 4 of RFC 1995](https://tools.ietf.org/html/rfc1995#section-4) describes the expected behavior as follows:
```
If incremental zone transfer is not available, the entire zone is
returned.  The first and the last RR of the response is the SOA
record of the zone.  I.e. the behavior is the same as an AXFR
response except the query type is IXFR.
```

> However, I suspect that unbound still does not accept an AXFR response for an IXFR request, but instead makes a separate AXFR request.

Hi @Georgeto, do you have a reason to believe this is not supported? This should work, if you experienced issues here I would like to get more detail on this.

@ralphdolmans
I am using unbound 1.10.1-1~bpo10+1 from the debian buster-backports repository.
The upstream-dns server does not support IXFR, only AXFR. It therefore responds with the whole zone (AXFR), as specified in the [RFC 1995](https://tools.ietf.org/html/rfc1995#section-4).

In the end the zone transfer works fine, because unbound falls back to issuing an AXFR request. But by doing so, unbound makes an unnecessary second request, since it might as well accept the AXFR response to its IXFR request instead.

The following packet capture should illustrate the described behaivor.
Source | Destination | Protocol | Length | Info | Comment
-------|-------------|----------|--------|------|--------
unbound | upstream-dns | DNS | 70 | Standard query 0x5d33 SOA example.com | Zone information outdated?
upstream-dns | unbound | DNS | 121 | Standard query response 0x5d33 SOA example.com SOA ns0.example.com |
unbound | upstream-dns | DNS | 130 | Standard query 0xc028 IXFR example.com SOA <Root> | Start IXFR
upstream-dns | unbound | DNS | 147 | Standard query response 0xc028 IXFR example.com SOA ns0.example.com | Unbound does not like non-incremental (AXFR) response to the IXFR request
unbound | upstream-dns | DNS | 96 | Standard query 0x5732 AXFR example.com | Therefore it falls back to AXFR
upstream-dns | unbound | DNS | 7836 | Standard query response 0xc028 IXFR example.com A 123.45.67.89 NS ns0.example.com NS ns1.example.com MX 23 mx0.example.com .... | Upstream-dns continues with its response to the initial IXFR request.
unbound | upstream-dns | TCP | 56 | 33610 → 53 [RST] Seq=64 Win=0 Len=0 | Unbound is not interested and prematurely closes the connection.
upstream-dns | unbound | DNS | 147 | Standard query response 0x5732 AXFR example.com SOA ns0.example.com | Unbound accepts the AXFR response to its AXFR query.
upstream-dns | unbound | DNS | 7836 | Standard query response 0x5732 AXFR example.com A 123.45.67.89 NS ns0.example.com NS ns1.example.com MX 23 mx0.example.com .... | ...
upstream-dns | unbound | DNS | 7091 | Standard query response 0x5732 AXFR example.com RRSIG RRSIG ... | ...
upstream-dns | unbound | DNS | 1247 | Standard query response 0x5732 AXFR example.com SOA ns0.example.com | ...


Thanks for the extra information @Georgeto. Unbound should be able to handle AXFR style answers on IXFR queries, as shown in this testcase: https://github.com/NLnetLabs/unbound/blob/master/testdata/auth_xfr_ixfrisaxfr.rpl.

Maybe there is another issue with the answer, making Unbound switching to AXFR, this should be visible in your Unbound logs with a verbosity of 4. Please have a look if this hints in the right direction.

Today I tried to reproduce the initially observed behaivor, but I was not able to, everything seems to work as expected, unbound accepts IXFR answers in AXFR style.