[FR] `RFC 9460` and `RFC 9462` compliant

Unbound does not return the **A** and **AAAA** records for the name of the Designated Resolver in the **Additional Answers** section when responding to special queries for `resolver.arpa`.

## **To reproduce**
Steps to reproduce the behavior:
1. Add the following to the configuration:
#### `unbound.conf`
```yaml
auth-zone:
    name: "resolver.arpa"
    zonefile: "/etc/unbound/zones/resolver.arpa"
```
#### `resolver.arpa`
```zone
$ORIGIN resolver.arpa.
$TTL 86400

_dns                            IN      SVCB    1 example.com. alpn=h2 dohpath=/dns-query{?dns}
_dns                            IN      SVCB    2 example.com. alpn=dot
```
2. Query the respective `SVCB` records for the special `_dns.resolver.arpa` domain.
3. Observe the records being returned as expected, however, without the **Additional Answers** section.

## **Expected behavior**
As per the [RFC 9460](https://www.rfc-editor.org/rfc/rfc9460.html#name-recursive-resolvers):
> Whether the recursive resolver is aware of SVCB or not, the normal response construction process used for unknown RR types [[RFC3597](https://www.rfc-editor.org/rfc/rfc9460.html#RFC3597)] generates the Answer section of the response. Recursive resolvers that are aware of SVCB **SHOULD** help the client to execute the procedure in [Section 3](https://www.rfc-editor.org/rfc/rfc9460.html#client-behavior) with minimum overall latency by incorporating additional useful information into the Additional section of the response as follows:
> 1. Incorporate the results of SVCB resolution. If the recursive resolver's local chain length limit (which may be different from the client's limit) has been reached, terminate.
> 2. If any of the resolved SVCB records are in AliasMode, choose one of them at random, and resolve SVCB, A, and AAAA records for its TargetName.
>     - If any SVCB records are resolved, go to Step 1.
>     - Otherwise, incorporate the results of A and AAAA resolution, and terminate.
> 3. All the resolved SVCB records are in ServiceMode. Resolve A and AAAA queries for each TargetName (or for the owner name if TargetName is "."), incorporate all the results, and terminate.
>
> In this procedure, "resolve" means the resolver's ordinary recursive resolution procedure, as if processing a query for that RRset. This includes following any aliases that the resolver would ordinarily follow (e.g., CNAME, DNAME [[DNAME](https://www.rfc-editor.org/rfc/rfc9460.html#RFC6672)]). Errors or anomalies in obtaining additional records **MAY** cause this process to terminate but **MUST NOT** themselves cause the resolver to send a failure response.

As per the [RFC 9462](https://www.rfc-editor.org/rfc/rfc9462.html#section-4-9):
> If the recursive resolver that receives this query has one or more Designated Resolvers, it will return the corresponding SVCB records. When responding to these special queries for "resolver.arpa", the recursive resolver **SHOULD** include the A and AAAA records for the name of the Designated Resolver in the Additional Answers section. This will save the DNS client an additional round trip to retrieve the address of the Designated Resolver; see [Section 5](https://rfc-editor.org/rfc/rfc9460#section-5) of [[RFC9460](https://www.rfc-editor.org/rfc/rfc9462.html#RFC9460)].

Additionally:

> If the recursive resolver that receives this query has no Designated Resolvers, it **SHOULD** return NODATA for queries to the "resolver.arpa" zone, to provide a consistent and accurate signal to clients that it does not have a Designated Resolver.

Instead, I get `NXDOMAIN` reply for such queries.

**System:**
 - Unbound version: 1.22.0
 - OS: CentOS Stream release 9
 - `unbound -V` output:
```
Version 1.22.0

Configure line: --sbindir=/opt/unbound/unbound-1.22.0/bin --disable-sha1 --enable-tfo-client --enable-tfo-server --with-libevent --with-libnghttp2 --enable-cachedb --with-libhiredis
Linked libs: libevent 2.1.12-stable (it uses epoll), OpenSSL 3.2.2 4 Jun 2024
Linked modules: dns64 cachedb respip validator iterator
TCP Fastopen feature available

BSD licensed, see LICENSE in source package for details.
Report bugs to unbound-bugs@nlnetlabs.nl or https://github.com/NLnetLabs/unbound/issues
```
## Additional information
The main reason I ask for this is due to the fact that clients will query the special domain `_dns.resolver.arpa` and expect the `TargetName` (e.g. `example.com`) to be resolved in the **Additional Section**, I've noticed that **Windows 11** will not do an additional query to resolve `TargetName` and goes even further completely ignoring the `ipv4hint` and `ipv6hint` keys when present, essentially rendering the network useless as it cannot resolve any queries when DNS is manually configured with `DoH` enabled in automatic mode, which is when it uses **Discovery of Designated Resolver (DDR)**.

I should also point out that `NSD` isn't compliant with [RFC 9460 Section 4](https://www.rfc-editor.org/rfc/rfc9460.html#server-behavior) either.

Unbound does not know about SVCB currently so it behaves like
> ... the normal response construction process used for unknown RR types [[RFC3597](https://www.rfc-editor.org/rfc/rfc9460.html#RFC3597)] generates the Answer section of the response ..."

So it would need proper RFC 9460 and RFC 9462 support in the future for this to work.

Btw, on your auth zone hack, you can add something like the following:
```
@ IN SOA  localhost nobody 1 2 3 4 5
* IN TYPE65000
```
to achieve the NODATA response.

> Btw, on your auth zone hack, you can add something like the following:
> 
> ```
> @ IN SOA  localhost nobody 1 2 3 4 5
> * IN TYPE65000
> ```
> 
> to achieve the NODATA response.

The requirement to return NODATA rather than NXDOMAIN in RFC 9462 for names below `resolver.arpa` (other than `_dns.resolver.arpa`) seems odd to me and I could not find a rationale for it so I opened an erratum on the RFC: https://www.rfc-editor.org/errata/eid8278.

Thank you @gthess, I can't wait to see it implemented so we can take full advantage of all the security features enabled recently in Unbound with **DoH** and **DoQ**.

> The requirement to return NODATA rather than NXDOMAIN in RFC 9462 for names below resolver.arpa (other than _dns.resolver.arpa) seems odd to me and I could not find a rationale for it so I opened an erratum on the RFC: https://www.rfc-editor.org/errata/eid8278.

Awesome @edmonds, I'll will keep an eye out for that erratum.